Incorrect test vectors for DHKEM(X25519, HKDF-SHA256)

I just encountered this, went to report it in errata, but found that it already had been in 2022 (https://www.rfc-editor.org/errata/eid7121), but remains in "reported" phase. I hope it makes sense to update the test-vectors within this repository even though the RFC i stable, but I wanted to report it here anyway, in case anyone else in the future was confused by this (RFC 9180 points to this repo for JSON-formatted test vectors).

RFC 9180 describes the following properties for the test-vectors:

>"For each role X, where X is one of S, R, or E, as sender, recipient, and ephemeral, respectively, key pairs are generated as (skX, pkX) = DeriveKeyPair(ikmX). Each key pair (skX, pkX) is written in its serialized form, where skXm = SerializePrivateKey(skX) and pkXm = SerializePublicKey(pkX)." [RFC 9180, Appendix A. Test Vectors](https://www.rfc-editor.org/rfc/rfc9180.html#appendix-A)

`SerializePublicKey()` and `SerializePrivateKey()` are defined, in part, as:

> "For X25519 and X448, private keys are identical to their byte string representation, so little processing has to be done. The SerializePrivateKey() function MUST clamp its output and the DeserializePrivateKey() function MUST clamp its input, where clamping refers to the bitwise operations performed on k in the decodeScalar25519() and decodeScalar448() functions defined in Section 5 of [RFC7748]." [RFC9180, section 7.1.2](https://www.rfc-editor.org/rfc/rfc9180.html#section-7.1.2)

This clearly states the clamping of the private key material needs to be done. But the test vectors of RFC 9180 do _not_ include the clamped private keys for X25519, but rather the "un-clamped":

Quick reproduction from test-vectors `A.1.1`:

```python
# ref: https://www.rfc-editor.org/rfc/rfc7748#section-5
def decodeScalar25519(k):
    k_list = [b for b in k]
    k_list[0] &= 248
    k_list[31] &= 127
    k_list[31] |= 64
    return k_list

skRm = bytes.fromhex("4612c550263fc8ad58375df3f557aac531d26850903e55a9f23f21d8534e8ac8")
skEm = bytes.fromhex("52c4a758a802cd8b936eceea314432798d5baf2d7e9235dc084ab1b9cfa2f736")

assert  decodeScalar25519(skRm) == decodeScalar25519(decodeScalar25519(skRm))
assert  decodeScalar25519(skEm) == decodeScalar25519(decodeScalar25519(skEm))

assert [b for b in skRm] == decodeScalar25519(skRm)
assert [b for b in skEm] == decodeScalar25519(skEm)
```
